@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&family=Poppins:wght@300;400;500&display=swap');

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: radial-gradient(circle at top left, #0d1b2a, #000814);
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #071f20;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

}

/* Glass-style container */
.container {
  width: 90%;
  max-width: 420px;
  background: rgba(0, 14, 30, 0.75);
  backdrop-filter: blur(8px);
  box-shadow: 0 0 25px rgba(0, 153, 255, 0.2);
  padding: 40px;
  border-radius: 20px;
  position: relative;
  border: 1px solid rgba(0, 153, 255, 0.25);
}

/* Logo or Title */
.container h2 {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
  margin-bottom: 30px;
  color: #6ce2ff;
  letter-spacing: 1.2px;
}

.card {
  width: 100%;
  top: 100%;
  border: 0.01px solid #5a99dd; 
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  background-color: rgba(0,0,0,0.5) !important;
}


.logo .logo-caption {
	font-family: 'Poiret One', cursive;
	color: #ffffff;
	text-align: center;
	margin-bottom: 25px;
}

.logo .profile {
  margin-left: 50%;
  border-radius: 50%;
  transform: translate(-50%);
}

.logo .tweak {
  color: #ff5252;
  font-weight: bold;
}

.form-group {
  margin-top: 1rem;
  margin-bottom: 0;
}

.input-group-prepend {
  min-width: 40px;
}

.login-form .input-group-text {
  width: 100%;
  background: #ff5252;
  border: 0px;
}

.login-form input::placeholder, .login-form textarea::placeholder {
    color: #dddddd;
}

.login-form input, .login-form textarea {
  background: #444444;
	border: 0px;
	color: white;
	font-family: 'Nunito', sans-serif;
}

.login-form input:focus, .login-form textarea:focus {
  outline: 0 0 0 0  !important;
  box-shadow: 0 0 0 0 !important;
  background-color: #333;
  color: #ffffff;
	font-family: 'Nunito', sans-serif;
}

.login-form button.btn-custom {
  background: #ff5252;
	border-color: rgba(48, 46, 45, 1);
  color: #ffffff;
  font-weight: bold;
}

.login-form button.btn-custom:hover{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	background: rgba(48, 46, 45, 1);
	border-color: #ff5252;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
